## Day 1

In [ ]:
# 0n Day 1 there is only introduction of data science and why it is neccesary

## Day 2

#Introduction of python
#python is made by "Duido Van Rossum" during 1987 to 1991.
#It is platform independent langauge.
#It is open source language and published under license"Python SoftWare foundation Licence"(PSFL)
#API=Application Programming Interface
#PiPy(Python package Index):it is used to find ,install and published external library e.g pandas,seaborn
#python is lossely type langauge or dynamically type langauge : the variable are not be declared using any data type e.g a=10 or a=2.4

## Day3

#In python 2 print is a statement as well as function
#but in python 3 it is only function
e.g print "hello " it can be used as statement in python 2
    print("hello") it can also be used as function  in python 2
    
    print(" hello") in python 3 it is only used as fuction
output: hello
#along with python language there are 3 important software tools or supporting program "pip","setuptools","wheel" that are   needed for python on windows,linux and mac resptively.

## Day4

#Sevral way to use python 
1 CLI: (command line interface) -Interactive python e.g cmd
2.GUI:(Graphical user interface)-IDE

#Fundamental of python
1.Data types of python
-there are five data types of python
a.Boolean data type-True and False
b.Numeric data type-int,float,double,long
c.Sequence data type-string,bytes ,byte array , list and tuple
d.Set data type-set,frozen set
e.Mapping data type-dict(dictionary)

All data types of python are of two type by its nature- Mutable and non-Mutable
1.Mutable type-this data type which can be change during program runtime e.g list,set,dict,byte array
2.Non-Mutable type- this data type which can not be change during program runtime e.g int,long ,float,double,string,tuple
list=[1,2,3,4];tuple=(1,2,3,4,5,6),string="sanket",int=2,float=2.5,set={1,2,3,4,5},dict={a:'sanket',b:'om'} boolean=False or True 
In python there is 35 keyword's

## Day5

Variable:it is used to store data type in the memory,here  python is lossely type  langauge hence it variable are not be delecare in using data type
e.g a=23 (int data type)
a='string' (string data type')
Special symbol is not allowed in the variable name except _(underscore)
e.g __rad=23 
rad_no=34
cvv__=567
__date=23

 All this above variable is allowed 
Blank spaces are sticktly allowed
emp no=23 (it will gives you error)
Variable should follow camelcase system i.e it will start from small case

Operator
1.Arithmetic Operator or Math Operator
+(addition),-(subtraction),*(multiplication),%(modulous),/(division),//(floor division),**(exponent or raised to)
1+2=3
2-1=1
2*1=2
2/2=1
123%10=3
123/10=12.3
123//10=12
3*3=9
3**3=27

2.Comparision operator : it is used to compare two variable , here it return boolean value i.e True or False
>,<,>=,<=,!=,==
3.Logical Operator: it is used to compare two variable 
and ,or ,not we use this as word, but not in the form of symbol

4.Assingment Operator: +=,-=,*=,/=,//=,**=
e.g a+=1,a-=1,a*=1,a/=1,a//=1,a**=1

5.Bitwise Operator:
Bitwise and operator &
Bitwise or
Bitwise not
complement operator ~
>> right shift
1001 0010 >>2
ans->1010 0100

MemeberShip Operator(Searching Operator): in ,not in
this operator check a data return true or false

Python has 5 type of collection in class
string,list,tuple,dict,set

str="sanket"
list=[1,2,3,4] Dynamic
dict={1:'1,2,3',2:'4,5,6'}
tuple=(1,2,3,4,5) static
set={1,2,3,4,5}

Identity Operator:
it is used to check identity operator during runtime.
1.is 2.not is 
e.g 
class Student:
    pass
class Teacher:
    pass
Student s
Teacher t
s is Student -->True
t is Teacher --> False
s is not Student -->False

Comment in Python
comment are not executable  part of program
#THIS IS A COMMENT , GIVEN BY "#"
THIS IS A COMMENT
""" THIS IS A COMMENT"""

There are 35 keywords in  the python are all in the small case, except [True,False,None]

## Day6

If we want to declear all the variable in the same line then we need to use semicolon [;] or we can say semicolon is statement seperator in python
IMP- variable need not be declared before use.

Typecasting:-to convert one data type into another data type
e.g a='10' it is in type of string
to convert it into int
b=int(a)
print(b) #b=10

Programing in python 
1. input / output function in python.

In [1]:
#1.print with a concatenation operator
rad=12
area=3.14*rad*rad
print("Radius= "+str(rad)+'\n Area of Circle ='+str(area))

Radius= 12
 Area of Circle =452.15999999999997

In [2]:
name='sanket'
email='sanket@gmail.com' 
print('Name is '+str(name) +' email is '+str(email))

Name is sanket email is sanket@gmail.com

In [3]:
#2.print with a ','(comma) as a data seperator
rad=12
area=3.14*rad*rad
print('Area of circle is',area)

Area of circle is 452.15999999999997

In [4]:
name='sanket'
email='sanket@gmail.com' 
print('name is',name,' and email is ',email)

name is sanket  and email is  sanket@gmail.com

In [5]:
#3. Using f string method or using formated string (very popular)
a=10;b=20;sum=a+b
print(f" a={a} \n b={b} \n sum is  {sum}")
# HERE {} THIS IS KNOWN AS PLACEHOLDER

 a=10
 b=20
 sum is  30

In [6]:
# 4. using format()  function (VERY POPOULAR)
#4.a Index place holder  placeholder starts from 0,i.e  {0} {1} {2} {3} are known as  index place holder
r=20;h=10
volume_of_cylinder=3.14*r**2*h
print('radius is {} Height is {} Volume of Cylinder is {}'.format(r,h,volume_of_cylinder))
#

radius is 20 Height is 10 Volume of Cylinder is 12560.0

## Day7

#4.b Formating of the output using format() and the place holder using Padding of data
padding of data is done using {:20} mean to print in 20 or n number of charcter width.
By defualt the numeric nalue or data are right alligned adn string data are left allign in the paddding size
e.g rno=233;name='ethan'
print("rno={:20}".format(rno))
print('name={:20}'.format(name))
\output is:
rno=------------------233
name=ethan---------------      this system is used in student form

In [7]:
rno=233;name='ethan'
print("rno={:20}".format(rno))
print('name={:20}'.format(name))

rno=                 233
name=ethan

In [8]:
rno=233.34;name='ethan'
print("rno={:20}".format(rno)) #here us 15 spaces from left
print('name={:20}'.format(name))
#here by default numeric data is right align and string data is left align

rno=              233.34
name=ethan

4.c padding & allignemt of data can be done using  > and < symbol
< to left align 
> to right align

In [9]:
rno=233.34;name='ethan'
print('#all the data  align to left')
print('name={:<20}'.format(name)) 
print("rno={:<20}".format(rno)) 
print()
print('#all the data  align to right')
print('name={:>20}'.format(name)) 
print("rno={:>20}".format(rno))

#all the data  align to left
name=ethan
rno=233.34

#all the data  align to right
name=               ethan
rno=              233.34

In [10]:
#4.c.Replacement of blank spaces with character
print('#all the data  align to left')
print('name={:#<20}'.format(name)) 
print("rno={:%<20}".format(rno)) 
print()
print('#all the data  align to right')
print('name={:*>20}'.format(name)) 
print("rno={:*>20}".format(rno)) # example is when we withdraw cash with atm there is some value

#all the data  align to left
name=ethan###############
rno=233.34%%%%%%%%%%%%%%

#all the data  align to right
name=***************ethan
rno=**************233.34

In [11]:
# Truncating or cuting a string data
#here cutting is only done on string data not only on 'numeric' data is done by using .(dot) ex  {:.4}
a='sanketnjaisingpure'
print('{:.7}'.format(a))

sanketn

In [12]:
a='sanketnjaisingpure'
print('{:.10}'.format(a)) 
# it will give error on numeric data
#b=123434556789
#print('{:.5}'.format(b))
#output :Precision not allowed in integer format specifier

sanketnjai

In [13]:
a='sanketnjaisingpure'
print('{:15.10}'.format(a)) #padding with cutting
#here string is by default align to left

sanketnjai

In [14]:
a='sanketnjaisingpure'
print('output is {:>15.4}'.format(a)) #padding with cutting with align

output is            sank

In [15]:
a='sanketnjaisingpure'
print('output is {:*>15.4}'.format(a)) #padding with cutting with align using symbol

output is ***********sank

## Day8

In [16]:
#Formating of data with data type(******)
#:d(int and long) :f( which are for float ) :s(for string)
rno=12
name='sanket'
per=78.45
print('roll no={:d}'.format(rno))
print('name is={:s}'.format(name))
print('percentage(with out using .2f) is ={:f}'.format(per))
print('percentage(with using .2f) is ={:.2f}'.format(per)) # .2f represent that after decimal only two digit are there

roll no=12
name is=sanket
percentage(with out using .2f) is =78.450000
percentage(with using .2f) is =78.45

In [17]:
#with using padding 
rno=12
name='sanket'
per=78.45
print('roll no={:20d}'.format(rno))
print('name is={:20s}'.format(name))
print('percentage(with out using .2f) is ={:20f}'.format(per))
print('percentage(with using .2f) is ={:20.2f}'.format(per))

roll no=                  12
name is=sanket
percentage(with out using .2f) is =           78.450000
percentage(with using .2f) is =               78.45

In [18]:
#with using padding  & allignemt of data
rno=12
name='sanket'
per=78.45
print('roll no={:<20d}'.format(rno))
print('name is={:<20s}'.format(name))
print('percentage(with out using .2f) is ={:<20f}'.format(per))
print('percentage(with using .2f) is ={:<20.2f}'.format(per))

roll no=12
name is=sanket
percentage(with out using .2f) is =78.450000
percentage(with using .2f) is =78.45

In [19]:
#with using padding  & allignemt of data with using symbol
rno=12
name='sanket'
per=78.45
print('roll no={:*>20d}'.format(rno))
print('name is={:*>20s}'.format(name))
print('percentage(with out using .2f) is ={:*>20f}'.format(per))
print('percentage(with using .2f) is ={:*>20.2f}'.format(per))

roll no=******************12
name is=**************sanket
percentage(with out using .2f) is =***********78.450000
percentage(with using .2f) is =***************78.45

In [ ]:
#Input functionof python :it is the simple data entry from the keyboard
#name=input('enter name') # it is the form of string
#if we want to print numeric data\
#num=int(input("enter any number"))

In [ ]:
#use of input function of string data
name=input("enter your name:")
print("Your name is :",name)

In [ ]:
# use of input function of numeric data
ht=int(input("Enter height :")) # WE ALSO USE HERE float(input(" enter data")) for float data
base=int(input("Enter base :"))
area=0.5*base*ht
print("height is {} and base is {} and area of triangle is {}:".format(ht,base,area))

In [ ]:
#Home work with using print include all type of print function

#control statement
1.conditional statement (if,else,elif)
2.looping statment(for ,while)
3.control break statement(break ,pass, continue)

## Day9

In [ ]:
#write a notes on day9


## Day10

In [1]:
#1.for loop  using collection or sequence i.e list,set,dict,string,tuple
#e.x list=[1,2,3,4,5,6]
#for i in list:
  #  print(i)
    #it will give output as 1 2 3 4 5 6

In [2]:
#Using list
list=[1,2,3,4,5,6,7,8,9,0]
print("Collection using list :")
for i in list:
    print(i,end=" ") #HERE WE USE END ,END WILL PRINT ALL THE VALUE IN THE SAME LINE OR PRINT WHICH YOUR ARE GIVING 
                     #CONDITION IN THE DOUBLE QUOTES
print()    
print()
#Using tuple
tup=(1,2,3,4,5,6,7,8,9,0)
print('Collection using tuple :')
for i in tup:
    print(i,end=" ")
print()  
print()

#Using dict
dict={1:'Sanket','city':'amaravati','frd':'data'}
print('Collection using tuple :')
for key,val in dict.items():
    print(key,":",val)
print()  
print()

#Using String
str="Sanket"
print("Using string :")
for i in str:
    print(i,end=" ")
print()
print()

#Using set
print("Using string :")
set={1,2,3,4,5,6,7}
for i in set:
    print(i,end=" ")

Collection using list :
1 2 3 4 5 6 7 8 9 0

Collection using tuple :
1 2 3 4 5 6 7 8 9 0

Collection using tuple :
1 : Sanket
city : amaravati
frd : data


Using string :
S a n k e t

Using string :
1 2 3 4 5 6 7

In [3]:
#2.for loop using range function:
#range(starting index(included), last index(excluded),step)
for i in range(15): #one parameter range fucntion
    # if we are giving only one  para meter then it will consider as it's last index
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [4]:
for i in range(1,10): # two para meter range function()
    print(i,end= " ") # if we are giving two parameter then it will consider it as first and last index

1 2 3 4 5 6 7 8 9

In [5]:
for i in range(1,20,2): # Three parameter range fucntion
    #here (starting index(included), last index(excluded),step)
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [6]:
#reverse for loop 
for i in range(10,1,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2

In [7]:
for i in range(10,1,-2):
    print(i,end=" ")

10 8 6 4 2

In [ ]:
#FACTORAIL
n=int(input())
f=1
for i in range(1,n+1):
    f=f*i
print('factorial is :',f)

In [ ]:
#fibonacci series 0 1 1 2 3 5 8 13 21 34
n1=0
n2=1
n=int(input("Enter how many fibonacci number you want: "))
for i in range(1,n+1):
    n3=n1+n2
    
    print(n3,end=" ")
    n1=n2
    n2=n3

In [ ]:
#Prime number 
n=int(input("Enter to check whether it is prime number or not : "))

for i in range(2,n):
    if n%i==0:
        print("prime numer")
        break
else:
    print("Not prime number")

## Day11

In [19]:
#len() functon is used to get the length or size of a list or tuple or even string .

In [20]:
list=[1,2,'sanket','hare','ram','swami','samratha']
print(" Length of list :",len(list))
print(list)

 Length of list : 7
[1, 2, 'sanket', 'hare', 'ram', 'swami', 'samratha']

In [21]:
list=['red','blue','black','orange','white','magenta','green']
for i in list:
    print(i,len(i))

red 3
blue 4
black 5
orange 6
white 5
magenta 7
green 5

In [22]:
#you cant apply len() function to numeric data,cause len func cant apply to numeric data
#IF YOU WANT TO CONVERT ,COUNT IT'S LENGTH THEN WE NEED TO CONVERT IT INTO STRING DATA TYPE AS FOLLOW
list1=["112",'12','9','45345','453455','78578433']
for i in list1:
    print(i,":",len(i))

112 : 3
12 : 2
9 : 1
45345 : 5
453455 : 6
78578433 : 8

In [23]:
#3.for loop using sequence and range 
list=['red','blue','black','orange','white','magenta','green']
for i in range(len(list)):
    print(list[i],end=" ,")

red ,blue ,black ,orange ,white ,magenta ,green ,

In [24]:
for i in range(len(list)):
    if i%2!=0:
        print(i,'.',list[i])

1 . blue
3 . orange
5 . magenta

In [36]:
#Control break statement in python
#there are 3 type of break statement  break,continue,pass
#break: it will break the loop and stop the execution

In [37]:
for i in range(100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [38]:
for i in range(100):
    if i>=10:
        break
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [39]:
for i in range(100):  # HERE SEE THE BOTH OUTPUT, THE OCCURANCE OF BREAK CHANGE THE OUTPUT
    
    print(i,end=" ")
    if i>=10:
        break

0 1 2 3 4 5 6 7 8 9 10

In [40]:
for i in 'python':
    if i=='h':
        break
    print(i,end=" ")

p
y
t

In [41]:
#continue
for i in range(10):
    print(i,end=" ")
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in range(10): # HERE SEE THE BOTH OUTPUT, THE OCCURANCE OF continue CHANGE THE OUTPUT
   
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [44]:
for i in range(10): 
   
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

In [45]:
for i in range(10): 
   
    if i%2!=0:
        continue
    print(i,end=" ")

0 2 4 6 8

In [46]:
str=" data science"
for i in str:
    if i=='a':
        continue
    print(i,end=" ")

  d t   s c i e n c e

In [47]:
str=" data science"
for i in str:
    if i!='a':
        continue
    print(i,end=" ")

a a

## Day12

In [6]:
#Pass statement:
# it is 3rd control break statement
#it perform no operation it does not break or continue the statement  
#it can be useful where program executes normally but something yet to happen or yet to be written
# it is used mainly used in error handling 
a='sanket'
for i in a:
    if i=='k':
        pass
        print('This is Pass Block:')
    print(i)

s
a
n
This is Pass Block:
k
e
t

In [7]:
for i in range(10):
    if i==5:
        pass
        print('This is pass....')
    print(i)

0
1
2
3
4
This is pass....
5
6
7
8
9

In [ ]:
#Iterators: it is pre-defined used to iterate or move or traverse over a collection or a sequence data like string tuple
#set list dict
#iter():function:function sets an iterator on a collection and next() function moves iterator to next item in the collection

In [17]:
#Example of iterator
num=[1,2,3,4,5,6,7,8,9,0]
it=iter(num)
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
#print(next(it)) if we print next item it will give error cause iterator has reach end of list
#IF we rewind the itertor
it=iter(num) #Resetting the iterator
print("Rewinding occuring")
print(next(it))

1
2
3
4
5
6
7
8
9
0
Rewinding occuring
1

In [1]:
#Use of iterator with a for loop 
num=[4,34,54,634,3,34,67,2,214,5,95,6,45,34,23,23,232]
for n in num:
    it=iter(num.
    print(it,end=" ")

<list_iterator object at 0x000001F950BD9490> <list_iterator object at 0x000001F950BD94C0> <list_iterator object at 0x000001F950BD9220> <list_iterator object at 0x000001F950BD92E0> <list_iterator object at 0x000001F950BD9040> <list_iterator object at 0x000001F950BD9100> <list_iterator object at 0x000001F950BD9CA0> <list_iterator object at 0x000001F950AF9F70> <list_iterator object at 0x000001F950AF9D60> <list_iterator object at 0x000001F950AF9C70> <list_iterator object at 0x000001F950AF9EE0> <list_iterator object at 0x000001F950AF9BE0> <list_iterator object at 0x000001F950AF9CA0> <list_iterator object at 0x000001F950AF9A00> <list_iterator object at 0x000001F950AF9970> <list_iterator object at 0x000001F950AF9880> <list_iterator object at 0x000001F950AF9790>

In [7]:
num=[4,34,54,634,3,34,67,2,214,5,95,6,45,34,23,23,232]
it=iter(num)
for n in it:
    
    print(n,end=" ")

4 34 54 634 3 34 67 2 214 5 95 6 45 34 23 23 232

In [10]:
#Iterator using while loop
#this program using while loop on iterator uses exit() function

import sys 
num=[4,34,54,634,3,34,67,2,214,5,95,6,45,34,23,23,232]
it =iter(num)
while True:  # it is also called as infinite loop
    try:
        print(next(it))
    except:
        print('End  of program ')
        sys.exit(0)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

4
34
54
634
3
34
67
2
214
5
95
6
45
34
23
23
232
End  of program
Traceback (most recent call last):
  File "<ipython-input-10-f5e2eb3d40ea>", line 9, in <module>
    print(next(it))
StopIteration

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Intel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-10-f5e2eb3d40ea>", line 12, in <module>
    sys.exit(0)
SystemExit: 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Intel\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\Intel\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\Intel\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\Intel\anaconda3\lib\inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
AttributeError: 'tuple' object has no attribute 'tb_frame'

TypeError: object of type 'NoneType' has no len()

## Day12

In [1]:
#Python sequence  and collections
#There are string list tuple set dictionary 5 type of collection in python
#List:
#it is a collection of same or different data ,enclosed in squre bracket [ ]

#List with same data type
#num=[1,2,3,4,5,6]
#name=['sanket','om','kumar']

#List with different data type
#st=['sanket',15,78.80,'pandas ','list']

In [13]:
num=[1,2,3,4,5,6,7,8,9,10]
sub=['chemistry','physics','math','DBMS','OS','Data Structure','Biology','Mechinal']
print(num)
print(sub)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['chemistry', 'physics', 'math', 'DBMS', 'OS', 'Data Structure', 'Biology', 'Mechinal']

In [14]:
#Accessing  single Elements in list
#Every item has index which alway start from 0 . you can access elements using index position 
print(num[3])

4

In [15]:
print(sub[2]) #OR
m=sub[2]
print(m)

math
math

In [16]:
sum1=num[3]+num[2] # you can do 
print(sum1)

7

In [17]:
#Accessing multiple  elements in the list or slicing of list 
print(num[3:6])

[4, 5, 6]

In [18]:
print(sub[1:5])

['physics', 'math', 'DBMS', 'OS']

In [30]:
#Accessing data of list using loops
for i in sub:
    print(i,end=" , ")

chemistry , physics , math , DBMS , OS , Data Structure , Biology , Mechinal ,

In [31]:
for i in num:
    print(i ,end=" ")

1 2 3 4 5 6 7 8 9 10

In [32]:
#Accessing elements using iterator 
it=iter(sub)
for i in it:
    print(i,end=" ,")

chemistry ,physics ,math ,DBMS ,OS ,Data Structure ,Biology ,Mechinal ,

In [29]:
it=iter(num)
for i in it:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [33]:
#Changing value of element in list
num=[1,2,3,4,5,6,7,8,9,10]
sub=['chemistry','physics','math','DBMS','OS','Data Structure','Biology','Mechinal']
print(num)
print(sub)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['chemistry', 'physics', 'math', 'DBMS', 'OS', 'Data Structure', 'Biology', 'Mechinal']

In [36]:
sub[3]='Data Base Management System'

print(sub)

['chemistry', 'physics', 'math', 'Data Base Management System', 'OS', 'Data Structure', 'Biology', 'Mechinal']

In [37]:
#Built-in-function is python
#len(list) it will give lenght of list
#max(list) it will give max element in list
#min(list) it will give min element in list
#list(collection)

In [39]:
print(len(num))

10

In [40]:
print(len(sub))

8

In [41]:
print(max(num))

10

In [43]:
print(max(sub)) # it is giving physics cause it is giving preference of alphabet

physics

In [44]:
print(min(num))
print(min(sub))

1
Biology

In [53]:
color=(1,2,3,4,5,6,7)
print(type(color))
print()

<class 'tuple'>

In [54]:
print(list(color))
print(type(color))

[1, 2, 3, 4, 5, 6, 7]
<class 'tuple'>

In [55]:
#Now we need to convert data type tuple into list
colorlist=list(color)
print(list(color))
print(type(colorlist))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

## Day13

In [1]:
#Built-in-Methods
#There is a difference between function and methods the methods are used by list name and a dot operator and function name
#is directly written which passes the list
#e.g sub.append()

In [2]:
num=[21,23,32,678,23,5675,12,7546,23,123,43]

In [3]:
#append:append it added a new item at the end of list:
print("Without append :",num)
num.append('sanket')
print()
print("With append method :",num)

Without append : [21, 23, 32, 678, 23, 5675, 12, 7546, 23, 123, 43]

With append method : [21, 23, 32, 678, 23, 5675, 12, 7546, 23, 123, 43, 'sanket']

In [6]:
#count(item) : it will count the item , that how many times it repeating the item
num=[1,2,3,4,5,6,2,4,2,2,3,47,8,9,2,46,2,2]
print(num.count(2))
print(num.count(3))

7
2

In [7]:
#extend(list): it will join two list append content of one list to another list

In [1]:
name=['sanket','om','vedant','kartik','anurag']

color=['red','blue','white','black','green']

print(name)
print(color)
print()
color.extend(name)
print(color)
print()
name.extend(color)
print(name)

['sanket', 'om', 'vedant', 'kartik', 'anurag']
['red', 'blue', 'white', 'black', 'green']

['red', 'blue', 'white', 'black', 'green', 'sanket', 'om', 'vedant', 'kartik', 'anurag']

['sanket', 'om', 'vedant', 'kartik', 'anurag', 'red', 'blue', 'white', 'black', 'green', 'sanket', 'om', 'vedant', 'kartik', 'anurag']

## Day14

In [2]:
#Tuple
#it is immutable data 
#the tuple remain static or fixed
#the data in the tuple can not be added or removed
#tuple are also sequence just like list
#the data in the tuple can not be added or removed

In [13]:
tuple=(1,2,3,4,5,6,7,8,9)
sun=('math','marathi','science','geography','biology','physics','english','chemistry')
print(sun)
print()
#Accessing tuple
print(sun[1])
print(sun[3:6])

('math', 'marathi', 'science', 'geography', 'biology', 'physics', 'english', 'chemistry')

marathi
('geography', 'biology', 'physics')

In [14]:
#printing value of tuple using loop
for i in sun:
    print(i,end=' ')

math marathi science geography biology physics english chemistry

In [15]:
sub1=iter(sun)
for i in sub1:
    print(i)

math
marathi
science
geography
biology
physics
english
chemistry

In [22]:
#Adding two tuple 
#tuple can be added into a new tuple by using +(addition of two tuple )
#data can not be added into directly and printed using tuple cause it is immutable

In [23]:
tuple=(1,2,3,4,5,6,7,8,9)
sun=('math','marathi','science','geography','biology','physics','english','chemistry')
suntuple=sun+tuple
print(suntuple)

('math', 'marathi', 'science', 'geography', 'biology', 'physics', 'english', 'chemistry', 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [24]:
#deleting tuple
del suntuple
#print(suntuple) it will give error NameError

In [25]:
#Basic operation
sun=('math','marathi','science','geography','biology','physics','english','chemistry')
sb2=sun*2
print(sb2)

('math', 'marathi', 'science', 'geography', 'biology', 'physics', 'english', 'chemistry', 'math', 'marathi', 'science', 'geography', 'biology', 'physics', 'english', 'chemistry')

In [29]:
tuple=(1,2,3,4,5,6,7,8,9)
sun=('math','marathi','science','geography','biology','physics','english','chemistry')
print(len(tuple))
print(len(sun))
print()
print(max(tuple))
print(max(sun))
print()
print(min(tuple))
print(min(sun))

9
8

9
science

1
biology

In [30]:
#Dictionary
#it is a mapping type of collection ,it contain 'key-value' pair where key is like a variable and value is data
#key represent a index,
empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [12]:
#We can't do slicing due to key's no numeric data is present in the dict

## Day15

In [13]:
#Accesing data in the dictionary
empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [14]:
#Accesing single data or key's in the dict
print(empl['name'])

shan chi

In [15]:
print(empl['movie'])

marvel shan chi

In [16]:
#Adding new data in the dictionary
empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [19]:
empl['age']=26

In [20]:
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi', 'cap': 'des', 'age': 26}

In [21]:
empl['marks']='95 %'

In [22]:
empl['email']='sangchi@gamil.com'

In [24]:
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi', 'cap': 'des', 'age': 26, 'marks': '95 %', 'email': 'sangchi@gamil.com'}

In [25]:
#deleting data into a dictionary
del empl['roll no']

In [26]:
print(empl)

{'name': 'shan chi', 'post': 'actor', 'movie': 'marvel shan chi', 'cap': 'des', 'age': 26, 'marks': '95 %', 'email': 'sangchi@gamil.com'}

In [27]:
del  empl

In [28]:
#print(empl) it will give error

In [29]:
#clear method it will del whole dictionary but it will give the empty dictionary
dict1={1:'sanket',2:'ramesh',3:'Sarvesh',4:'Nilesh'}
dict1.clear()

In [30]:
dict1

{}

In [31]:
#dictionary built-in function
empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [32]:
len(empl)

4

In [33]:
print(max(empl))

roll no

In [34]:
print(min(empl))

movie

In [36]:
#Converting dictionary into string
print(empl)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [38]:
str1=str(empl)

In [39]:
print(str1)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [43]:
#how to check which is dictionary and which is string 
# there are two methods to check this 
#1.checking data type
print(type(empl))

print(type(str1))

<class 'dict'>
<class 'str'>

In [44]:
#2.checking length of dictionary and string  
print(len(empl))

4

In [45]:
print(len(str1))

83

## Day16

In [3]:
#Copy methods
empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}

empl1=empl.copy()

In [4]:
print(empl1)

{'name': 'shan chi', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi'}

In [10]:
print(empl['name'])
print(empl.get('name'))

shan chi
shan chi

In [9]:
#get methods
print(empl.get('rollno')) #if key is not present in the collection it will not give error just print None
#print(empl['rollno']) #this will give error if key is not present in the collection

None

In [17]:
#items() : it will give items present in the list.
print(empl.items())
print()
for i,j in empl.items():
    print(i,':',j)

dict_items([('name', 'shan chi'), ('roll no', '648'), ('post', 'actor'), ('movie', 'marvel shan chi')])

name : shan chi
roll no : 648
post : actor
movie : marvel shan chi

In [18]:
#keys() : it will gives keys present in the dict
print(empl.keys())
print()
for i in empl.keys():
    print(i)

dict_keys(['name', 'roll no', 'post', 'movie'])

name
roll no
post
movie

In [19]:
#values(): it will gives values present in the dict
print(empl.values())
print()
for i in empl.values():
    print(i)

dict_values(['shan chi', '648', 'actor', 'marvel shan chi'])

shan chi
648
actor
marvel shan chi

In [22]:
#update():it will update the dict in the end of list :


empl={'name':'shan chi','roll no':'648','post':'actor','movie':'marvel shan chi'}
bio_data={'name':'kartik','age':21,'gender':'male','exp':'5 years'}
empl.update(bio_data)
print(empl)

{'name': 'kartik', 'roll no': '648', 'post': 'actor', 'movie': 'marvel shan chi', 'age': 21, 'gender': 'male', 'exp': '5 years'}

In [68]:
#SET
# set  is a collection of same data type or different which is un-ordered and un-index .It is almost like list and it is
#mutable . It is written in the {}  curly braces
#There is no index and no index present in the set,hence we can't use indexing and slicling

name={'Sanket','Kartik','Vedant','Anurag','apple','banana','cherry'}
print(type(name))

<class 'set'>

In [69]:
print(name)
for i in name:
    print(i)

{'banana', 'Kartik', 'Sanket', 'Anurag', 'Vedant', 'cherry', 'apple'}
banana
Kartik
Sanket
Anurag
Vedant
cherry
apple

In [70]:
#Adding items in the set
name.add('orange')
print(name)

{'banana', 'Kartik', 'Sanket', 'Anurag', 'Vedant', 'orange', 'cherry', 'apple'}

In [71]:
#Update data in the set
sub={'math','marathi','english','history','geography','civis'}
name.update(sub)
print(name)

{'english', 'geography', 'banana', 'Kartik', 'Sanket', 'history', 'civis', 'Anurag', 'marathi', 'Vedant', 'orange', 'cherry', 'math', 'apple'}

In [72]:
#len()
print(len(name))

14

In [73]:
#max()
print(max(name))

orange

In [74]:
#min()
print(min(name))

Anurag

In [ ]:
#remove:it will give errror when element is not present in the set
#discard: it will not give error when element is not present in the set
#pop: it remove the element from the 1st index
#clear: it will remove all the items in the set
#del:it will delete whole set if you print it after delete then it will give error